# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.metadata
android/.gradle/
**/GeneratedPluginRegistrant.java
**/GeneratedPluginRegistrant.swift

# VS Code
.vscode/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# macOS
.DS_Store

# Web
lib/generated_plugin_registrant.dart


# Archivos y carpetas de Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Pods/

# Archivos de Android
android/app/debug
android/app/profile
android/app/release

# Archivos de IDE
.idea/
.vscode/
*.iml

# Archivos del sistema
.DS_Store
